---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

<p align="right"> or see :  <a href="https://hannahpu.github.io/collection-archive/">Posts by Year</a> ;  <a href="https://hannahpu.github.io/tags/">Posts by Tags</a> </p>

{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
